<h1>Editing payment</h1>

<%= render 'form' %>

<div class="span-24 last">
  <%= link_to 'Просмотр', @payment %> |
  <%= link_to 'Удалить', @payment, data: {confirm: 'Вы уверены?'}, method: :delete %> |
  <%= link_to 'Список платежей', payments_path %>
</div>
