/*
header img.round {
  margin-top: 10px;
}

div.field, div.actions {
    margin-bottom: 10px;
}
*/
#notices {
  color: green; }


.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation, #errors {
//  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; }
}

/* Navigation */
/*
nav {
  float: right;
}

nav {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
  text-decoration: underline;
}
*/
.button {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  -moz-user-select: none;
  background-color: #EAEAEA;
  background-image: linear-gradient(#FAFAFA, #EAEAEA);
  background-repeat: repeat-x;
  border-color: #DDDDDD #DDDDDD #C5C5C5;
  border-image: none;
  border-radius: 3px 3px 3px 3px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.075);
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  padding: 1px 8px 1px;
  position: relative;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.898);
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;
  top: -2px;
}

.button {
  outline: medium none;
}

.button:focus {
  border-color: #51A7E8;
  box-shadow: 0 0 5px rgba(81, 167, 232, 0.5);
  text-decoration: none;
}

.button:hover, .button:active {
  background-color: #3072B3;
  background-image: linear-gradient(#599BCD, #3072B3);
  background-repeat: repeat-x;
  border-color: #2A65A0;
  color: #FFFFFF;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.pagination {
  background: white;
  cursor: default;
}

.pagination a, .pagination span, .pagination em {
  padding: 0.2em 0.5em;
  display: block;
  float: left;
  margin-right: 1px;
}

.pagination .disabled {
  color: #999999;
  border: 1px solid #dddddd;
}

.pagination .current {
  font-style: normal;
  font-weight: bold;
  background: #2e6ab1;
  color: white;
  border: 1px solid #2e6ab1;
}

.pagination a {
  text-decoration: none;
  color: #105cb6;
  border: 1px solid #9aafe5;
}

.pagination a:hover, .pagination a:focus {
  color: #000033;
  border-color: #000033;
}

.pagination .page_info {
  background: #2e6ab1;
  color: white;
  padding: 0.4em 0.6em;
  width: 22em;
  margin-bottom: 0.3em;
  text-align: center;
}

.pagination .page_info b {
  color: #000033;
  background: #6aa6ed;
  padding: 0.1em 0.25em;
}

.pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

* html .pagination {
  height: 1%;
}

*:first-child + html .pagination {
  overflow: hidden;
}



