// Place all the styles related to the Members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* User show page */


table.members {
  border-width: 1px;
  border-color: gray;
  border-style: solid;
  border-collapse: collapse;
}

table.members td, table.members th {
  border-width: 0px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-color: gray;
  border-style: solid;
}

table.members tr th {
  background: #e5ecf9;
}

table.members tr th a {
  text-decoration: none;
}

table.members tr:nth-child(4n) * {
  background:none;
  border-bottom-width: 1px;
}

table.members tr:nth-child(4n+1) td {
  background:#e5ecf9;
  border-top-width: 1px;
}

table.members tr:nth-child(4n+1) th {
  background:#e5ecf9;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
}

table.members tr:nth-child(4n+2) * {
  background:#e5ecf9;
  border-bottom-width: 1px;
}

table.members tr:nth-child(4n+3) * {
  background:none;
  border-top-width: 1px;
}//table.members tbody tr:nth-child(even) td, table.members tbody tr.even td {background:none;}

table.members tr .shifted {
  text-align: right;
}

table.member_info {
  width: 100%;
  margin-bottom: 0;
}

td.main {
  width: 30%;
  padding: 1em;
}

td.sidebar {
  width: 70%;
  padding: 1em;
  vertical-align: top;
  background: #ffc;
}

tr.debtor {
  color: gray;
}

tr.paused {
  text-decoration: line-through;
}

table.members th, table.members td {
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.field label:after {
  content: ':';
}

.cb label:after {
  content: '';
}


