// Place all the styles related to the Members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* User show page */


table.member_info {
  width: 100%;
  margin-bottom: 0;
}

td.main {
  width: 30%;
  padding: 1em;
}

td.sidebar {
  width: 70%;
  padding: 1em;
  vertical-align: top;
  background: #ffc;
}

tr.paused {
  text-decoration: line-through;
}

.field label:after {
  content: ':';
}

.cb label:after {
  content: '';
}


