<%= form_tag members_url, :method => 'GET' do %>
    <fieldset>
    <legend>Поиск человека</legend>
    <div class="form-group">
      <%= label_tag 'search', 'Часть фамилии или номер карточки' %><br/>
      <%= text_field_tag 'search', '', class: 'form-control' %>
    </div>
    <%= submit_tag 'Найти', class: 'btn btn-default' %>
    </fieldset>
  <% end %>
