<h1>Редактирование данных о члене организации</h1>

<%= render 'form' %>

<div class="span-24 last">
  <%= link_to t(:destroy), @member, data: { cconfirm: 'Are you sure?' }, method: :delete %> |
  <%= link_to t(:show), @member %> |
  <%= link_to t(:back), members_path %>
</div>
