<%= form_tag members_parse_mail_path do -%>
  <label for="mail_text">Mail text to import</label><br/>
  <%= text_area_tag 'mail_text', nil, { :size => '150x20', :escape => false, :class => 'span-24 last' } %><br/>

  <%= submit_tag 'Import' %>
<% end -%>
