%h2
  Упс, что-то не так
%p
  Похоже, у нас не получилось зарегистрировать вашу заявку. Возможно, вы уже
  были в нашей базе раньше. Пожалуйста, напишите нам об этом на адрес
  %a{href: "email:membership@bike.org.by"} membership@bike.org.by
  , и мы что-нибудь придумаем.

